body
{
height:1540px;
padding:0;
	margin:0;
	background:url(../images/b9.jpg);
        background-color:black;
        background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
       
}
#box1
{
background-color: rgba(47, 63, 75, 0.4);
width:960px;
height:750px;
margin-left:195px;
margin-top:130px;
border-radius:25px;
}
#box2
{
font-family: 'MondaRegular';
padding:8px;
color:white;
margin-top:615px;
background-color:rgba(0,0,0,.92);
width:1332px;
height:165px;
}
